<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
		<script src="{{url_for('static', filename='rushing.js')}}" async></script>
		<h1>
			Football player rushing statistics
		</h1>
	</head>
	<body>
		<form id="table-filter">
			<label for="player-name">Filter by player name:</label>
			<input name="player_name" id="player-name"></input>
			<label for="category_sort">Sort a category:</label>
			<select name="category_sort" id="category_sort">
				<option value=""></option>
			  <option value="Yds - ASC">Total Rushing Yards - ASC</option>
			  <option value="Yds - DESC">Total Rushing Yards - DESC</option>
			  <option value="Lng - ASC">Longest Rush - ASC</option>
			  <option value="Lng - DESC">Longest Rush - DESC</option>
			  <option value="TD - ASC">Total Rushing Touchdowns - ASC</option>
			  <option value="TD - DESC">Total Rushing Touchdowns - DESC</option>
			</select> 
			<button type="submit" form="table-filter" value="filter">Filter</button>
			<button type="submit" form="table-filter" value="download">Download Filtered Data</button>
			<a href="" hidden id="download_link" download="rushing_data_export.csv"></a>
		</form>
		<div id="table-data">{{ data | safe }}</div>
	</body>
</html>


